::-webkit-input-placeholder{
   //font-style: italic;
    //font-size: 12px;
}

body{
    font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif;
    background-color: #e9eaed;
    margin: 0px;
}

h1{
    font-weight: lighter;
    font-size: 25px;
    color: lightgray;
    padding:10px;
    background: #666666;
    margin: 0px;
}

h3{
    margin:0px 0px 5px 0px;
    font-weight: 500;
    width: auto;
}

.title{
    font-weight: lighter;
    color: lightgray;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #666666;
    margin: 0px;
}

h2{
    font-weight: 500;
    margin: 5px 0px 5px 0px;
}

#storeTitle{
    margin:0px 0px 5px 0px;
    font-weight: 500;
}

.storeSite{
    color: #739DB8;
}

.storeSite a{
    text-decoration: none;
    color: #739DB8;
}

hr{
    height: 0px;
    margin: 5px 0px;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #BCBCBC;
    text-align: left;
    direction: ltr;
    clear: both;
}

#main{
    width: 52%;
    margin: 20px auto 20px auto;
}

.category{
    font-size: 13px;
}

.category a{
    text-decoration: underline;
    color: #739DB8;
}

#mail{
    display: inline-block;
    margin: 5px 0px;
    color: #4f80a1;
    text-decoration: underline;
}

.address, .distance, .storeSite, .rating, .category{
    display: inline-block;
    margin: 2px 0px;
}

#shortInfo{
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

#storePhoto{
    float: left;
    width: 100px;
    height: 100px;
    padding:4px;
    border:1px solid #a1a1a1;
    background-color:white;
    border-radius: 3px;
}

.shortInfo{
    display: inline-block;
}

.ico{
    width: 20px;
    height: 20px;
}

.storePhotoContainer{
    float: left;
    width: 100px;
    //max-width: 100%;
    height: 100px;
    padding:4px;
    border:1px solid #a1a1a1;
    background-color:white;
    border-radius: 3px;
}

#mainContent{
    margin: 20px;
}

#storeProfile{
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    background-color: white;    
}

.storeProfile{
    width: 100%;
    height: 150px;
}

.storePhoto{
    width: auto;
    display: inline-block;
}

.storePhotoContainer{
    float: left;
    width: 130px;
    //max-width: 100%;
    height: 140px;
    padding:4px;
    border:1px solid #a1a1a1;
    background-color:white;
    border-radius: 3px;
}

.info{
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 75%;
    height: 100%;
    position: relative;
}

.showMoreButton, .contactButton, .likeButton, .likeHover{
    position: absolute;
    right: 0px;
    float: right;
}

.showMoreButton{
    bottom: 0px;
}

#rating tr{
    
}
.contactButton{
    bottom: 0;
}

.likeButton{
    //top: 10px;
}

.likeHover{
    opacity: 0;
}

.likeHover:hover{
    opacity: 1;
}

.addHover{
    opacity: 0;
}

.addHover:hover{
    opacity: 1;
}

.button {
  border-radius: 3px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #498bb7;//#008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 200ms ease-out;
  /* margin-top: 17px; */
}

.button2 {
  border-radius: 3px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  float: right;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #a8a8a8;//#008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 200ms ease-out;
  margin: auto 10px;
}

.buttonProduct {
  border-radius: 3px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 12px;
  font-size: 12px;
  background-color: #498bb7;//#008CBA;
  border-color: #007095;
  color: #FFFFFF;
  transition: background-color 200ms ease-out;
  /* margin-top: 17px; */
}

.button:hover, .buttonProduct:hover{
    background-color: #007095;
}

.button2:hover{
    background-color: #929292;
}

p, table{
    background-color: #F2F3F4;
    width: 100%;
    margin-top: 0px;
    //padding-left: 10px;
}
tr{
    vertical-align: middle;
}

td > * {
    vertical-align : middle;
}

img.search{
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 8px;
    right: -28px;
}

#search{
    width: 100px;
    height: 15px;
    padding: 10px;
    padding-left: 35px; 
    background: none !important;
    color: lightgray;
    border: 0px;
    //border-bottom: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray inset;
    border-radius: 3px;
    float: right;
}

#googleMap{
    box-shadow: 0 0 20px #888;
    width:100%;
    height:300px;
}

.rating a{
    text-decoration: none;
}

.ratingsMore, .rateField{
    visibility: hidden;
    display: none;
}

.profilePhoto{
    float: left;
    width: 32px;
    //max-width: 100%;
    height: 30px;
    padding:1px;
    border:1px solid white;
    background-color:white;
    border-radius: 3px;
    float: right;
    background-image: url("../../images/defaultPhoto.jpg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; 
}

.ratePhoto{
    float: left;
    width: 32px;
    //max-width: 100%;
    height: 30px;
    margin-right: 5px;
    padding:1px;
    border:1px solid white;
    background-color:white;
    border-radius: 3px;
    float: left;
    background-image: url("../../images/defaultPhoto.jpg");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; 
}

.profilePhoto ul{
    display: none;
    list-style: none;
    padding: 0;
    padding-top: 16px;
}
.profilePhoto:hover ul{
    display: block; /* display the dropdown */
}

.profilePhoto:pressed ul{
    display: block; /* display the dropdown */
}

.profilePhoto ul li{
    float: left;
    width: 150px;
    text-align: center;
    line-height: 21px;
    font-size: 14px;
}
    
.profilePhoto ul li a{
    display: block;
    padding: 5px 10px;
    color: #333;
    background: #f2f2f2;
    text-decoration: none;
}

.profilePhoto ul li a:hover{
    color: #fff;
    background: #939393;
}

#productTable td{
    float: left;
    margin-right: 10px;
}

.changeLocation{
    width: 32px;
    //max-width: 100%;
    height: 30px;
    float: right;
    margin-right: 10px;
}